In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("laptops.csv",encoding= "Latin-1")      # Load the data into a DataFrame
df

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,Lenovo,Yoga 500-14ISK,2 in 1 Convertible,"14.0""",IPS Panel Full HD / Touchscreen 1920x1080,Intel Core i7 6500U 2.5GHz,4GB,128GB SSD,Intel HD Graphics 520,Windows,10,1.8kg,"638,00"
1299,Lenovo,Yoga 900-13ISK,2 in 1 Convertible,"13.3""",IPS Panel Quad HD+ / Touchscreen 3200x1800,Intel Core i7 6500U 2.5GHz,16GB,512GB SSD,Intel HD Graphics 520,Windows,10,1.3kg,"1499,00"
1300,Lenovo,IdeaPad 100S-14IBR,Notebook,"14.0""",1366x768,Intel Celeron Dual Core N3050 1.6GHz,2GB,64GB Flash Storage,Intel HD Graphics,Windows,10,1.5kg,"229,00"
1301,HP,15-AC110nv (i7-6500U/6GB/1TB/Radeon,Notebook,"15.6""",1366x768,Intel Core i7 6500U 2.5GHz,6GB,1TB HDD,AMD Radeon R5 M330,Windows,10,2.19kg,"764,00"
1302,Asus,X553SA-XX031T (N3050/4GB/500GB/W10),Notebook,"15.6""",1366x768,Intel Celeron Dual Core N3050 1.6GHz,4GB,500GB HDD,Intel HD Graphics,Windows,10,2.2kg,"369,00"

In [3]:
df.head()

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"
2,HP,250 G6,Notebook,"15.6""",Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,NaN,1.86kg,"575,00"
3,Apple,MacBook Pro,Ultrabook,"15.4""",IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,NaN,1.83kg,"2537,45"
4,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,NaN,1.37kg,"1803,60"

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.iloc[0:2]                          #first 2 rows

,Manufacturer,Model Name,Category,Screen Size,Screen,CPU,RAM,Storage,GPU,Operating System,Operating System Version,Weight,Price (Euros)
0,Apple,MacBook Pro,Ultrabook,"13.3""",IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,NaN,1.37kg,"1339,69"
1,Apple,Macbook Air,Ultrabook,"13.3""",1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,NaN,1.34kg,"898,94"

In [6]:
df.iloc[0:2,0:2]                               #first 2 rows and first 2 columns

  Manufacturer   Model Name
0        Apple  MacBook Pro
1        Apple  Macbook Air

In [7]:
df.iloc[0:2,0]                                 #first 2 rows and first column

0    Apple
1    Apple
Name: Manufacturer, dtype: object

In [8]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['Amit', 'Priya', 'Rahul', 'Sneha', 'Karan'],
    'Age': [23, 25, 22, 24, 26],
    'City': ['Delhi', 'Mumbai', 'Pune', 'Bangalore', 'Chennai'],
    'Score': [85, 90, 78, 88, 92]
}                                                                               # Sample data

df2 = pd.DataFrame(data, index=['s1', 's2', 's3', 's4', 's5'])

In [9]:
df2

     Name  Age       City  Score
s1   Amit   23      Delhi     85
s2  Priya   25     Mumbai     90
s3  Rahul   22       Pune     78
s4  Sneha   24  Bangalore     88
s5  Karan   26    Chennai     92

In [10]:
df2.iloc[0:2,0]

s1     Amit
s2    Priya
Name: Name, dtype: object

In [11]:
df2.iloc[0:2,[0,2]]                    #first 2 rows and first and third columns #fancy indexing

     Name    City
s1   Amit   Delhi
s2  Priya  Mumbai

In [12]:
df2.loc["s1":"s3"]                      #label based indexing on basis of name

     Name  Age    City  Score
s1   Amit   23   Delhi     85
s2  Priya   25  Mumbai     90
s3  Rahul   22    Pune     78

In [13]:
df2.loc["s1":"s3",["Name","City"]]          #label based indexing

     Name    City
s1   Amit   Delhi
s2  Priya  Mumbai
s3  Rahul    Pune

In [14]:
df2.columns

Index(['Name', 'Age', 'City', 'Score'], dtype='object')

In [15]:
#change the city name with age 25 tp kolkata using iloc
cond=df2['Age']==25
cond

s1    False
s2     True
s3    False
s4    False
s5    False
Name: Age, dtype: bool

In [16]:
X=df2.loc[cond]
X

     Name  Age    City  Score
s2  Priya   25  Mumbai     90

In [17]:
X.loc[:,"Age"]=22
X

     Name  Age    City  Score
s2  Priya   22  Mumbai     90

In [ ]:
df2.loc[df2["Age"]==25,"City"]="Kolkata"               #changing value using loc
df2

     Name  Age       City  Score
s1   Amit   23      Delhi     85
s2  Priya   25    Kolkata     90
s3  Rahul   22       Pune     78
s4  Sneha   24  Bangalore     88
s5  Karan   26    Chennai     92

In [ ]:
df2.loc[(df2["Age"]>20)&(df2["Age"]<=25),"Age"]=22               #changing value using loc
df2

     Name  Age       City  Score
s1   Amit   22      Delhi     85
s2  Priya   22    Kolkata     90
s3  Rahul   22       Pune     78
s4  Sneha   22  Bangalore     88
s5  Karan   26    Chennai     92

In [ ]:
df.info()                          # Get a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Manufacturer              1303 non-null   object
 1   Model Name                1303 non-null   object
 2   Category                  1303 non-null   object
 3   Screen Size               1303 non-null   object
 4   Screen                    1303 non-null   object
 5   CPU                       1303 non-null   object
 6   RAM                       1303 non-null   object
 7    Storage                  1303 non-null   object
 8   GPU                       1303 non-null   object
 9   Operating System          1303 non-null   object
 10  Operating System Version  1133 non-null   object
 11  Weight                    1303 non-null   object
 12  Price (Euros)             1303 non-null   object
dtypes: object(13)
memory usage: 132.5+ KB